<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  >
<head>
<meta charset="ISO-8859-1">
<title>Shopping Management System</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
           integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
           crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Shopping Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/shops}">Shopping Management</a>
      </li>
    </ul>
  </div>
</nav>

<div class ="container">
     <div class ="row">
       <h1>  Shops List</h1>
     </div>
     
     <div class = "row">
     <div class = "col-lg-3">
     <a th:href = "@{/shops/new}"  class = "btn btn-primary btn-sm mb-3" >Add Shop </a>
     
     </div>
     
     
     </div>
     <table class = "table table-striped   table-bordered ">
     <thead class = "table-dark">
         <tr>
                <th> Shop Name</th>
                <th> Shop Owner</th>
                <th> Category</th>
                <th> Status</th>
                <th> Email-id</th>
                <th> Actions</th>
                
           </tr>
     
     
     
     </thead>
       
     <tbody>
       <tr  th:each = "shop:  ${shops}">
     <td th:text = "${shop.ShopName}"></td>
     <td th:text = "${shop.ShopOwner}"></td>
     <td th:text = "${shop.Category}"></td>
     <td th:text = "${shop.Status}"></td>  
     <td th:text = "${shop.EmailId}"></td>  
       <td> 
       <a th:href = "@{/shops/edit/{id}(id=${shop.id})}" 
       class = "btn btn-primary">Update</a>
       
       <a th:href = "@{/shops/{id}(id=${shop.id})}" 
       class = "btn btn-danger">Delete</a>
       
       
       </td>
       </tr>
     
     </tbody>
     
     
     </table>
     </div>
     
</body>
</html>